{% extends 'base.html' %}
{% block content %}
  <h1>PEEECHES</h1>

      <article class="media content-section">
        <div class="media-body">
          <h2><a class="article-title" href="{{url_for('post_home')}}">General Post</a></h2>
          <p class="article-content">Have a general post, lets read it</p>
          </div>
      </article>
      <article class="media content-section">
        <div class="media-body">
          <h2><a class="article-title" href="{{url_for('product_home')}}">Product Pitch</a></h2>
          <p class="article-content">Have a Product? Why dont you give it a pitch</p>
          </div>
      </article>
      <article class="media content-section">
        <div class="media-body">
          <h2><a class="article-title" href="{{url_for('pickup_home')}}">Pick Up Line</a></h2>
          <p class="article-content">Fancy Yourself a Romantic? let us see </p>
          </div>
      </article>

{% endblock content %}


<!-- <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
<p class="article-content">{{ post.content }}</p>
</div> -->
