{% extends 'base.html' %}
{% block content %}
  <h1>PICK UP LINES</h1>
    {% for pickup in pickups %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + pickup.author.image_file) }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ pickup.author.username }}</a>
            <small class="text-muted">{{ pickup.date_posted.strftime('%Y-%m-%d') }}</small>
          </div>
          <h2><a class="article-title" href="{{ url_for('main.pickup', pickup_id=pickup.id) }}">{{ pickup.title }}</a></h2>
          <p class="article-content">{{ pickup.content }}</p>
          </div>
      </article>
    {% endfor %}
{% endblock content %}


<!-- <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
<p class="article-content">{{ post.content }}</p>
</div> -->
