<!-- {{wtf.quick_form(product_form)}}

{% for comment in comments[::-1] %}
<article class="">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ comment.author.username }}</a>
      <small class="text-muted">{{ comment.title.date_posted.strftime('%Y-%m-%d') }}</small>
    </div>
    <p class="article-content">{{ comment.comment }}</p>
    </div>

<!</article> -->
{% endfor %}


<!-- <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
<p class="article-content">{{ post.content }}</p>
</div> --> -->
